<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>Copernicus Health, Inc.</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72.png">
<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
<link rel="shortcut icon" href="images/ico/favicon.png">
<!--[if IE]><![endif]-->
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery.js"></script>
<script src="js/countdown.js"></script>
<script src="js/owlcarousel.js"></script>
<script src="js/uikit.scrollspy.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body id="backtotop">

<div class="fullwidth clearfix">
	<div id="topcontainer" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
		
		<p><span href="images/ico/logo.png"></span></p>
		<h1><span>Copernicus Health</span><br />is coming soon</h1>
		<p>It's almost ready ... honest</p>
		
	</div>
</div>

<div class="arrow-separator arrow-white"></div>

<div class="fullwidth colour1 clearfix">
	<div id="countdown" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

		<div id="countdowncont" class="clearfix">
			<ul id="countscript">
				<li>
					<span class="days">00</span>
					<p>Days</p>
				</li>
				<li>
					<span class="hours">00</span>
					<p>Hours</p>
				</li>
				<li class="clearbox">
					<span class="minutes">00</span>
					<p>Minutes</p>
				</li>
				<li>
					<span class="seconds">00</span>
					<p>Seconds</p>
				</li>
			</ul>
		</div>
	
	</div>
</div>

<div class="arrow-separator arrow-theme"></div>

<div class="fullwidth colour2 clearfix">
	<div id="maincont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

		<p><strong>Copernicus Health</strong> is making a splash in the healthcare delivery system by rewarding patients for taking control of their
            health. After a recent win at the Rutgers Health Care Delivery Idea-a-Thon, development has been underway. We are so close to completion that the money is
            almost in your pockets!</p>
        <h2>Sign up here and we'll let you know when we launch!</h2>
        <p>If you would like to receive <strong>news and special offers</strong> please send us your email address below:</p>
		<!--<div id="signupform" class="sb-search clearfix">-->
			<!--<form method="post" id="contact" class="clearfix">-->
				<!--<input class="sb-search-input" placeholder="Enter email ..." type="text" value="">-->
				<!--<input class="sb-search-submit" value="" type="submit">-->
				<!--<button class="formbutton" type="submit"><span class="fa fa-search"></span></button>-->
			<!--</form>-->
		<!--</div>-->
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//copernicus-health.us10.list-manage.com/subscribe/post?u=68373ad69cc07c7b5164f9715&amp;id=3b9661dffc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2></h2>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <p>Powered by <a href="http://eepurl.com/be07ND" title="MailChimp - email marketing made easy and fun">MailChimp</a></p>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_68373ad69cc07c7b5164f9715_3b9661dffc" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
</div>

<div class="arrow-separator arrow-themelight"></div>

<div class="fullwidth colour3 clearfix">
	<div id="quotecont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

        <div id="commentslider" class="owl-carousel">
            <div class="item">
                <p>"<strong>Copernicus Health</strong> is a novel technology-enabled concept for improving health care delivery for vulnerable populations and reducing costs of health care in New Jersey."</p>
            	<p class="author">Rutgers Office of Research and Economic Development</p>
                <a href="https://ored.rutgers.edu/content/health-care-delivery-innovation-idea-thon-generates-novel-concepts">Read more here</a>
            </div>
            <div class="item">
                <p><strong>Copernicus Health</strong> in NJ Tech Weekly</p>
                <a href="http://www.njtechweekly.com/art/2492-creative-solutions-pitched-at-healthcare-delivery-idea-thon-held-at-rutgers/">Read more here</a>
            </div>
            <div class="item">
                <p>American Entrepreneurship Today mentions <strong>Copernicus Health</strong></p>
            	<a href="http://nj.americanentrepreneurship.com/latest-news/health-care-delivery-idea-thon-competition">Read more here</a>
            </div>
        </div>
	
	</div>
</div>

<div class="arrow-separator arrow-grey"></div>

<div class="fullwidth clearfix">
	<div id="footercont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

		<p class="backtotop"><a title="" href="#backtotop"><span class="fa fa-angle-double-up"></span></a></p>
		<div id="socialmedia" class="clearfix">
			<ul>
				<!--<li><a title="" href="#" rel="external"><span class="fa fa-facebook"></span></a></li>-->
				<li><a title="" href="https://www.twitter.com/mycopernicus" rel="external"><span class="fa fa-twitter"></span></a></li>
			</ul>
		</div>
	</div>
</div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56529759-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>